* {
  margin: 0;
  padding: 0;
  object-fit: contain;
}

.app {
  background-color: lightyellow;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.logo {
  text-align: center;
}

.logo img {
  height: 110px;
}

.hero {
  display: flex;
  margin: 0 12px;
}

.pic {
  flex: 0.35;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.hero-text {
  flex: 0.65;
}

.hero-text ul {
  margin-left: 45px;
}

.hero-text img {
  height: auto;
  width: -webkit-fill-available;
  max-width: 100%;
  margin: 16px 0;
}

.text {
  margin: 44px 0 44px 24px;
}

.text p {
  font-size: 14px;
}

hr {
  margin: 16px 0;
  border-top: 1px solid brown;
}

.tools {
  text-align: center;
  margin: auto;
}

.tools img {
  width: 80%;
}

.tools-space {
  margin: 16px 0 44px;
  font-size: 14px;
}

.tools-space .line {
  color: red;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: brown;
  padding: 24px 0;
}

.info {
  display: flex;
  color: white;
}

.info .icon svg {
  background-color: white;
  border-radius: 50%;
  color: brown !important;
  padding: 1px;
  font-size: 20px;
}

.info svg {
  font-size: 22px;
  margin-right: 10px;
}

@media only screen and (max-width: 700px) {
  .hero {
    flex-direction: column;
  }

  .tools img {
    width: 94%;
  }

  .footer {
    flex-direction: column;
  }
}
